<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mpi.mapper.CommentMapper">
	<insert id="createComment" parameterType="CommentDto">
		INSERT INTO tb_comment
		(
			writer_id,
			content,
			vote,
			del,
			reg_dt,
			reg_user_id,
			mod_dt,
			mod_user_id,
			comm_id
		)
		VALUES
		(
			#{writerId},
			#{content},
			0,
			0,
			now(),
			#{writerId},
			now(),
			#{writerId},
			#{commId}
		)
	</insert>
	<select id="getCommentList" parameterType="string" resultType="CommentDto">
		SELECT * FROM tb_comment
			WHERE 1=1
			AND del = 0
			AND comm_id = #{commId}	
	</select>
	<update id="delComment" parameterType="CommentDto">
		UPDATE tb_comment
			SET
			del = #{del},
			mod_dt = now(),
			mod_user_id = #{modUserId}
			WHERE 1=1
			AND id = #{id}
	</update>
	<update id="deleteCommentForComm" parameterType="HashMap">
		UPDATE tb_comment
			SET
			del = #{del},
			mod_dt = now(),
			mod_user_id = #{modUserId}
			WHERE 1=1
			AND comm_id = #{commId}
	</update>
</mapper>