<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
    	<typeAlias type="com.example.mpi.dto.UserDto" alias="UserDto"/>
    	<typeAlias type="com.example.mpi.dto.CommentDto" alias="CommentDto"/>
    	<typeAlias type="com.example.mpi.dto.BookmarkDto" alias="BookmarkDto"/>
    	<typeAlias type="com.example.mpi.dto.MovieDto" alias="MovieDto"/>
    	<typeAlias type="com.example.mpi.dto.ReviewDto" alias="ReviewDto"/>
    	<typeAlias type="com.example.mpi.dto.AuthDto" alias="AuthDto"/>
    	<typeAlias type="com.example.mpi.dto.RefreshTokenDto" alias="RefreshTokenDto"/>
    	<typeAlias type="com.example.mpi.dto.GenreCdDto" alias="GenreCdDto"/>
    	<typeAlias type="com.example.mpi.dto.FileDto" alias="FileDto"/>
    	<typeAlias type="com.example.mpi.dto.CommunityDto" alias="CommunityDto"/>
    	<typeAlias type="com.example.mpi.paging.Criteria" alias="Criteria"/>
    </typeAliases>
</configuration>